<div class="itau-header">
    <div class="icons-container">
        <div class="itau-icon-container">
            <img class="itau-icon" src="./../assets/img/logo-ibba.svg">
        </div>
        <img class="interrogation" src="./../assets/img/interrogacao.png">
        <span class="help-text">ajuda</span>
    </div>
    <div class="user-container">
        <div class="user-icon">
            <span class="user-name">WP</span>
        </div>
        <div class="user-infos">
            <span>William Pereira</span>
            <span class="user-subtitle">Itau BBA</span>
        </div>
        <img class="arrow-down" src="./../assets/img/arrow-down.svg">
    </div>
</div>
