.formulary-container {
    margin-left: 8%;
}

.add-button {
    align-items: center;
    background-color: #EC7000;
    color: #ffffff;
    align-self: flex-end;
    border-radius: 3%;
    border: white;
    padding: 1% 2%;
    font-size: 14px;
    font-weight: bold;
    margin-left: 18%;
}
