.solicitations-text {
    margin-left: 8%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.solicitatation-table-header {
    font-size: 13px;
    display: grid;
    grid: '. myArea myArea myArea . . . . . . . . .';
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 20px;
    margin-left: 8%;
}

.unit-title {
    border-bottom: 1px solid gray;
    text-align: center;
}

.company-title {
    grid-area: myArea;
    text-align: left;
}